<header>
<nav>
    <div class="logo"><a href="/">PictureShare</a></div>
    <ul class="nav_bar">
    <li><a href="#" id="explore_id">Explore</a></li>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/user/opret">Sign Up</a></li>
    <li><a href="/about_us">About Us</a></li>
</ul>
</nav>
</header>



