<header>
<nav>
    <div class="logo"><a href="/">PictureShare</a></div>
    <ul class="nav_bar">
    <li><a href="#" id="explore_id">Udforsk</a></li>
    <li><a href="/profil">Profil</a></li>
    <li><a href="/about/us">Om os</a></li>
    <li><a href="/user/opret">Opret bruger</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/logout">Log ud</a></li>
    
</ul>
</nav>
</header>



