body {
    margin: 0;
}
.logo {
    margin: 0;
}
.logo a {
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 2%;
    font-size: 2.2em;
    text-shadow: 1px 1px lightcoral;
    font-weight: 100;
    background-color: lightskyblue;

    -webkit-border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}
.img_container img {
    overflow: hidden;
    height: 38em;
    width: 100%;
    opacity: .8;
    background-repeat: no-repeat;
}
.nav_bar {
    margin: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.nav_bar li {
    list-style: none;
    margin: 1em 2.5em;
}
.nav_bar a {
    color: lightskyblue;
    text-decoration: none;
    font-size: 1.5em;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.centered h1 {
    font-size: 4em;
    text-shadow: 2px 2px black;
}
#explore_text {
    display: flex;
}
.article {
    width: 20em;
    /* text-align: center; */
    margin: 4em 10em;
}
/*=============================OPRET BRUGER======================================================*/
.opret_form {
    height: 42em;
    width: 100%;
    background: url('/img/blomst.jpg');
    text-align: center;
}
.opret_form input {
    border-radius: 10px;
    padding: 20px; 
    width: 180px;
    height: 13px;
    margin: 2em;
}
.opret_form label {
    font-size: 1.3em;
}
.opret_form button {
    height: 3em;
    width: 6em;
}
/*=============================REDIGERE BRUGER======================================================*/
#wrap_redigere {
    text-align: center;
}
.form_redigere input {
    margin: 2em;
}
.form_redigere label {
    display: inline;
}
/*=============================PROFILE======================================================*/
.redigere_profil {
    position: absolute;
}
.redigere_profil img {
    height: 2em;
    width: auto;
}
.redigere_profil a {
    text-align: right;
}
.left_box {
    background-color: lightskyblue;
    height: 40em;
    width: 25em;
}
.profile {
    display: flex;
    margin: 0 5em;
}
.profile h1 {
    font-size: 2em;
}
.name {
    padding-right: .4em;
}
.profile p {
    font-size: 1em;
    padding-left: 1em; 
}
.profile img {
    width: auto;
    height: 7em;
    padding-top: 2em;
}
/*=============================LOGIN======================================================*/
.login_form {
    height: 42em;
    background: url('/img/blomst.jpg');
    text-align: center;
}
.login_form label {
    font-size: 1.3em;
}
.login_form button {
    height: 3em;
    width: 6em;
}
.loginInput input {
    border-radius: 10px;
    padding: 20px; 
    width: 180px;
    height: 13px;
    margin: 2em;
}