<% include partials/head %>
<% include partials/header %>

<div class="img_container">
    <img src="/img/bridge.jpg" alt="header image">
    <div class="centered"><h1>About Us</h1></div>
</div>


<% include partials/footer %>
<% include partials/after-footer %>