<% include partials/head %>
<% include partials/header %>

<div class="img_container">
    <img src="/img/bridge.jpg" alt="header image">
    <div class="centered"><h1>Welcome</h1></div>
</div>
    
<div id="explore_text">
<article class="article">
    <h2>Explore HQ photos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
</article>
<article class="article">
    <h2>Explore HQ photos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, iste, saepe quia nulla delectus laborum omnis recusandae placeat nisi quasi assumenda? In id ad quam doloremque ipsum quas! Autem, magni!</p>
</article>
</div>
<% include partials/footer %>
<% include partials/after-footer %>