<% include partials/head %>
<% include partials/header %>

<form action="/login" method="POST" class="login_form">
	<% if (typeof status != 'undefined') { %>
		<span class="errorMessage"><%= status %></span>
	<% } %>
	<div class="loginInput">
		<label>
			Brugernavn
			<input type="text" name="username">
		</label>
	</div>
	<div class="loginInput">
		<label>
			Adgangskode
			<input type="password" name="password">
		</label>
	</div>
	<button type="submit">Log ind</button>
</form>

<% include partials/footer %>
<% include partials/after-footer %>