<% include partials/head %>
<% include partials/header %>
<form action="/user/profil" method="post" enctype="multipart/form-data">
    <div id="wrap_redigere">

<div class="form_redigere">
    <label>
        Skriv dit navn
        <input type="text" name="firstname">
    </label>
</div>

<div class="form_redigere">
    <label>
        Skriv dit efternavn
        <input type="text" name="lastname">
    </label>
</div>

<div class="form_redigere">
    <label for="bio">
        kort beskrivelse om dig
        <textarea name="bio" ></textarea>
    </label>
</div>

<label for="image">Billede</label>
<input type="file" name="image">

<button type="submit">Gem</button>
</form>
</div>
<% include partials/footer %>
<% include partials/after-footer %>